.tp-caption.primary-slider-subtitle1 {
color:#b7b7b7;
font-family:"Open Sans", Arial;
font-weight:700;
font-size:14px;
letter-spacing:1px;
border-width:0px;
border-color:rgb(183, 183, 183);
border-style:none;
}

.tp-caption.primary-slider-title1 {
color:#fff;
text-shadow:none;
background-color:transparent;
text-decoration:none;
font-family:"Open Sans", Arial;
font-size:50px;
font-weight:800;
line-height:50px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.primary-slider-button1 {
color:#fff;
text-shadow:none;
background-color:transparent;
text-decoration:none;
padding:12px 30px 12px 30px;
font-size:12px;
font-weight:700;
border-width:1px;
border-color:rgb(255, 255, 255);
border-style:solid;
}

.tp-caption.primary-slider-button2 {
color:#fff;
text-shadow:none;
background-color:rgb(233, 88, 26);
background-color:rgba(233, 88, 26, 1);
text-decoration:none;
padding:12px 30px 12px 30px;
font-size:12px;
font-weight:700;
border-width:1px;
border-color:rgb(233, 88, 26);
border-style:solid;
}

.tp-caption.primary-slider-text1 {
color:#d7d7d7;
text-shadow:none;
background-color:transparent;
text-decoration:none;
text-align:center;
border-width:0px;
border-color:rgb(0, 0, 0);
border-style:none;
}

